
<div id="wrapper">

  	<!-- Header -->
    <header id="header" class="alt">
        <div class="logo">
            <img src="/website/img/logo.png" alt="logo"/>
            <a href="index.html" ><strong>Escornabot</strong></a>
        </div>
        
        <nav>
          {% include components/languages.html %}
          <a href="#menu">Menu</a>
        </nav>
        {% include components/forkme.html %}
    </header>
  
    <!-- Menu -->
    <nav id="menu">
        {% include components/navigation.html %}
    </nav>
 

  <div id="content" class="container">
    {{ content }}
  </div>
</div>