<footer>
  <div id="footer">
      <p>CC BY-SA-4.0</p>
  </div>
</footer>

	<!-- Scripts -->
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.scrollex.min.js"></script>
  <script src="{{ site.baseurl }}/js/browser.min.js"></script>
  <script src="{{ site.baseurl }}/js/breakpoints.min.js"></script>
  <script src="{{ site.baseurl }}/js/util.js"></script>
  <script src="{{ site.baseurl }}/js/main.js"></script>