body {
  background-image: radial-gradient(#fff, #ffffee);
}
#languages {
  text-align: right;
  ul {
    display: block;
    margin: 10px;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      a {
        text-decoration: none;
        color: #c4c4c4;
        &:hover,
        &.active {
          color: #111;
        }
      }
    }
  }
}
.home.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  img {
    max-width: 100%;
  }
  p {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
  }
}