// $yellow: #FFEF54;
// $black: #111;
// $grey: #666;
// $grey_active: #444;

// body {
//   background: #fff;
//   font-family: 'Roboto', sans-serif;
//   font-size: 18px;
//   h1 {
//     font-weight: bold;
//   }
//   p {
//     line-height: 1.8;
//   }
//   a {
//     text-decoration: none;
//   }
// }

// #head {
//   background: $yellow;
//   background-image: linear-gradient(to left, $yellow, #fff);
//   padding: 5px 0;
//   #navigation {
//     ul {
//       display: block;
//       margin: 5px 0;
//       padding: 0;
//       list-style: none;
//       li {
//         display: inline-block;
//         margin: 0;
//         padding: 0 10px;
//         font-size: 20px;
//         a {
//           display: block;
//           padding: 5px 10px;
//           text-decoration: none;
//           color: $black;
//           &:hover,
//           &.active {
//             color: $black;
//           }
//         }
//       }
//     }
//   }
  






// .home.center {
//   margin: 10% 0px;
//   text-align: center;
//   img {
//     max-width: 100%;
//   }
//   p {
//     font-family: 'Lucida Sans', Verdana, sans-serif;
//     font-weight: bold;
//     font-size: 40px;
//   }
// }

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');

/*
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Breakpoints.

	@include breakpoints((
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Mixins.

	@mixin inner {
		> .inner {
			@include padding(4em, 0);
			margin: 0 auto;
			max-width: _size(inner);
			width: calc(100% - 6em);

			@include breakpoint('<=small') {
				@include padding(3em, 0);
				width: calc(100% - 3em);
			}
		}
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/pagination';
	@import 'components/table';
	@import 'components/button';
	@import 'components/tiles';
	@import 'components/contact-method';
	@import 'components/spotlights';

// Layout.

	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/contact';
	@import 'layout/footer';
	@import 'layout/wrapper';
	@import 'layout/menu';